// Estimate CPU/memory/container
process {
    withName: subsetfile {
        cpus             = 4
        memory           = 1.GB
        //container      = "chaudb/seqtk:latest"
    }
    withName: makeBlastDb {
        cpus             = 4
        memory           = 1.GB
        //container      =  "ncbi/blast:latest"'
    }
    withName: blastsearch {
        cpus             = 8
        memory           = 1.GB
        //container      = 'ncbi/blast:latest'
    }
}

docker {
    enabled              = true
}
