/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run PI-Bioinfo/BLAST -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Viral test dataset to check pipeline function'
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = false
  readPaths = [
    ['SRR7891978', ['https://github.com/PI-Bioinfo/BLAST/testdata/s_1.fastq.gz']],
    ['SRR16770222', ['https://github.com/PI-Bioinfo/BLAST/testdata/s_2.fastq.gz']],
    ['SRR26371270', ['https://github.com/PI-Bioinfo/BLAST/testdata/s_3.fastq.gz']],
  ]
  // Subsample some (but not all) files
  subsampsize = 400000
  // Genome references
  genome = 'ftp://ftp.ncbi.nlm.nih.gov/refseq/release/viral/viral.1.1.genomic.fna.gz'
}
